// --------------------------------------------------------------------------------
// MODULES - BUTTON
// --------------------------------------------------------------------------------
.m-button {
	bottom:10px;
	right: 10px;
	position: absolute;
	max-width:15%;
	max-height: 15%;
	z-index: 100;
	cursor: pointer;
	opacity: 0.3;

	@include transition(all, 0.3s);
}

.m-button:hover {
	opacity: 0.7;

	-webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      transform: rotateZ(180deg);
}